html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end */
/* Main page */
body{
	background-color: rgb(32, 31, 39);
	position: relative;
}
a{
	text-decoration: none;
	color: white;
}
.wrapper_zone{
	width: 1550px;
	margin: 0 auto;
}
header{
	background-color: rgb(25, 19, 37);
	width: 200px;
	height: 100em;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 2px ridge rgb(54, 52, 52);
}
.login_menu{
	width: 200px;
	height: 70px;
	background-color: rgb(25, 19, 37);
	border:2px ridge rgb(54, 52, 52); ;
	right: 50px;
	top: 10px;
}
menu{
	background-color: rgb(25, 19, 37);
}
.main_heaad{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.main_heaad::after{
	z-index: -5;
	content: "";
	position: absolute;
	top: -30px;
	left: -26px;
	background-color: black;
	height: 91px;
	width: 1600px;
	border-bottom-left-radius: 47px;
	border-bottom-right-radius: 47px;
	border-left:3px solid rgb(0, 225, 255);
	border-right: 3px solid rgb(0, 225, 255);
	border-bottom:3px solid rgb(0, 225, 255);
}
.main_heaad>form>input{
	border: none;
	width: 1000px;
	height: 25px;
	top: 10px;
	margin: 0 30px;
	background-color: rgb(73, 76, 87);
	transition: width 0.4s ease-in-out;
}

.main_heaad>form>input:focus{
	border: none;
}

.main_heaad>div{
	flex-wrap: nowrap;
	display: flex;
}
.main_heaad>img{
	padding-left: 50px
}
.main_heaad>a{
	margin-left: 20px;
	padding: 10px 25px;
	text-align: center;
	width: 100px;
	height: 20px;
	background-color: rgb(71 207 115);
	color: black;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	border-radius: 20px;
}
.main_heaad>a+a{
	background-color: rgb(68 72 87);
	color: white;
}
.main_zone{
	width: 1530px;
	margin: 0 auto;
	background-color: rgb(68 72 87);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
}

.main_zone>ul{
	margin-top: 25px;
	border-bottom:3px solid rgb(32, 31, 39);
}
.main_zone>ul li{
	display: inline-block;
	text-align: center;
	width: 150px;
	padding: 15px 20px;
	margin-left: 50px;
	font-size: 24px;
}
.main_zone li:hover{
	background-color:rgb(49, 52, 63) ;
}

.main_zone ul+div{
	display:  flex;
	position: relative;
}

.main_zone select{
	margin:10px 0;
	margin-left: 300px;
	border: none;
	color: black;
	background-color: rgb(179, 179, 179);
	font-size: 24px;

}
.main_zone form::before{
	content: "Сортировать :";
	position: absolute;
	top: 15px;
	left: 160px;
	color: rgb(179, 179, 179);
	display: block;
	width: 120px;
	height: 30px;
	font-size: 20px;
}
.main_zone form::after{
	content: "Старна :";
	position: absolute;
	top: 15px;
	left:675px;
	color: rgb(179, 179, 179);
	display: block;
	width: 100px;
	height: 20px;
	font-size: 20px;
}

.prev_zone{
	background-color:rgb(179, 179, 179) ;
	width: 1500px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.prev_zone section{
	background-color: aliceblue;
	width: 700px;
	height: 150px;
	margin: 10px 10px;
	animation-name: menus;
	animation-duration: 1s;
	animation-timing-function: linear;
}
@-webkit-keyframes menus {
	from {
		height: 0;
		width: 700px;
	  }
	  to {
		width: 100%;
		width: 700px;
	  }
	}
  @-o-keyframes menus {
	from {
		height: 0;
		width: 700px;
	  }
	
	  to {
		width: 100%;
		width: 700px;
	  }
	}
  
  @-moz-keyframes menus {
	from {
		height: 0;
		width: 700px;
	  }
	
	  to {
		width: 100%;
		width: 700px;
	  }
	}
  
  @keyframes menus{
	from {
		height: 0;
		width: 700px;
	  }
	
	  to {
		width: 100%;
		width: 700px;
	  }
	}





























.last_head{
	background-color: black;
	height: 300px;
	width: 100%;
}